@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --darkblue: #04303B;
  --rosewood: #B05246;
  --green: #A8CF45;
  --lightgray: #A8CF45;
}

/* SCROLL BAR */

::-webkit-scrollbar
{
  width: 3px;  /* for vertical scrollbars */
  height: 3px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(231, 231, 231, 0.82);
  border-radius: 2vh;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.802);
  border-radius: 2vh;
}

html,body {
  overflow-x: hidden;
}

body {
  background-color: rgb(241, 241, 241);
}

a {
  text-decoration: none;
}